In [1]:
# examples and exercises in chapter 2.1 of the Chinese version of book "Joyful Pandas" (pandas数据处理与分析)

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.__version__

'1.26.4'

In [3]:
pd.__version__

'2.2.1'

In [4]:
# 2.1.1

In [5]:
df = pd.DataFrame({'col1': [2]*4, 'col2': [0.1]*4})
df

   col1  col2
0     2   0.1
1     2   0.1
2     2   0.1
3     2   0.1

In [7]:
df.to_csv("./test.csv", index=True)

In [9]:
print(df.to_markdown())

|    |   col1 |   col2 |
|---:|-------:|-------:|
|  0 |      2 |    0.1 |
|  1 |      2 |    0.1 |
|  2 |      2 |    0.1 |
|  3 |      2 |    0.1 |

In [10]:
print(df.style.to_latex())

\begin{tabular}{lrr}
 & col1 & col2 \\
0 & 2 & 0.100000 \\
1 & 2 & 0.100000 \\
2 & 2 & 0.100000 \\
3 & 2 & 0.100000 \\
\end{tabular}