In [2]:
# examples and exercises in chapter 4.2 of the Chinese version of book "Joyful Pandas" (pandas数据处理与分析)

In [1]:
import numpy as np
import pandas as pd

In [2]:
import os
os.chdir("../../")

In [3]:
# 4.1.1

In [4]:
df = pd.read_csv("data/learn_pandas.csv")

In [5]:
gb = df.groupby("Gender")["Height"]
gb.idxmin()

Gender
Female    143
Male      199
Name: Height, dtype: int64

In [6]:
gb.quantile(.95)

Gender
Female    166.8
Male      185.9
Name: Height, dtype: float64

In [7]:
# Ex4-3

In [8]:
df["not_transfer"] = df["Transfer"] == "N"
d = df.groupby(["School", "Grade"])["not_transfer"].all()
d

School  Grade
A       Freshman      True
        Junior        True
        Senior       False
        Sophomore     True
B       Freshman     False
        Junior       False
        Senior       False
        Sophomore    False
C       Freshman      True
        Junior       False
        Senior       False
        Sophomore     True
D       Freshman     False
        Junior       False
        Senior       False
        Sophomore    False
Name: not_transfer, dtype: bool

In [9]:
d.loc[d.values==True]

School  Grade
A       Freshman     True
        Junior       True
        Sophomore    True
C       Freshman     True
        Sophomore    True
Name: not_transfer, dtype: bool

In [10]:
gb = df.groupby("Gender")[["Height", "Weight"]]
gb.max()

        Height  Weight
Gender
Female   170.2    63.0
Male     193.9    89.0

In [11]:
# 4.2.2

In [12]:
gb.agg(["sum", "idxmax", "skew"])

         Height                   Weight
            sum idxmax      skew     sum idxmax      skew
Gender
Female  21014.0     28 -0.219253  6469.0     28 -0.268482
Male     8854.9    193  0.437535  3929.0      2 -0.332393

In [13]:
gb.agg({"Height": ["mean", "max"], "Weight": "count"})

           Height        Weight
             mean    max  count
Gender
Female  159.19697  170.2    135
Male    173.62549  193.9     54

In [14]:
# Ex4-4

In [17]:
gb.agg({
    col: ["max","min"] for col in ["Height", "Weight"]
})

       Height        Weight
          max    min    max   min
Gender
Female  170.2  145.4   63.0  34.0
Male    193.9  155.7   89.0  51.0

In [18]:
gb.agg(lambda x: x.max() - x.min())

        Height  Weight
Gender
Female    24.8    29.0
Male      38.2    38.0

In [19]:
# Ex 4-5

In [20]:
gb.describe()

       Height                                                              \
        count       mean       std    min      25%    50%      75%    max
Gender
Female  132.0  159.19697  5.053982  145.4  155.675  159.6  162.825  170.2
Male     51.0  173.62549  7.048485  155.7  168.900  173.4  177.150  193.9

       Weight
        count       mean       std   min   25%   50%    75%   max
Gender
Female  135.0  47.918519  5.405983  34.0  44.0  48.0  52.00  63.0
Male     54.0  72.759259  7.772557  51.0  69.0  73.0  78.75  89.0

In [34]:
q25 = lambda x: x.quantile(.25)
q50 = lambda x: x.median()
q75 = lambda x: x.quantile(.75)

gb.agg([
    "count", "mean", "std", 
    "min",
    ("25%", q25), 
    ("50%", q50), 
    ("75%", q75),
    "max"
])

       Height                                                              \
        count       mean       std    min      25%    50%      75%    max
Gender
Female    132  159.19697  5.053982  145.4  155.675  159.6  162.825  170.2
Male       51  173.62549  7.048485  155.7  168.900  173.4  177.150  193.9

       Weight
        count       mean       std   min   25%   50%    75%   max
Gender
Female    135  47.918519  5.405983  34.0  44.0  48.0  52.00  63.0
Male       54  72.759259  7.772557  51.0  69.0  73.0  78.75  89.0

In [31]:
def my_func(s):
    res = "High"
    if s.mean() <= df[s.name].mean():
        res = "Low"
        
    return res

gb.agg(my_func)

       Height Weight
Gender
Female    Low    Low
Male     High   High

In [32]:
# Ex4-6

In [35]:
gb.agg([("range", lambda x: x.max() - x.min()), ("my_sum", "sum")])

       Height          Weight
        range   my_sum  range  my_sum
Gender
Female   24.8  21014.0   29.0  6469.0
Male     38.2   8854.9   38.0  3929.0

In [36]:
gb.agg({
    "Height": [("my_func", my_func), "sum"],
    "Weight": lambda x: x.max()
})

        Height            Weight
       my_func      sum <lambda>
Gender
Female     Low  21014.0     63.0
Male      High   8854.9     89.0