In [1]:
# examples and exercises in chapter 4.4 of the Chinese version of book "Joyful Pandas" (pandas数据处理与分析)

In [2]:
import numpy as np
import pandas as pd

In [3]:
import os
os.chdir("../../")

In [4]:
df = pd.read_csv("data/learn_pandas.csv")
gb = df.groupby("Gender")[["Height", "Weight"]]

In [5]:
def BMI(x):
    Height = x["Height"] / 100
    Weight = x["Weight"]
    BMI_value = Weight / Height**2
    return BMI_value.mean()
gb.apply(BMI)

Gender
Female    18.860930
Male      24.318654
dtype: float64

In [6]:
gb1 = df.groupby(["Gender", "Test_Number"])["Height"]
gb2 = df.groupby(["Gender", "Test_Number"])[["Height", "Weight"]]
gb1.apply(lambda x: 0)

Gender  Test_Number
Female  1              0
        2              0
        3              0
Male    1              0
        2              0
        3              0
Name: Height, dtype: int64

In [11]:
gb2.apply(lambda x: [0,0])

Gender  Test_Number
Female  1              [0, 0]
        2              [0, 0]
        3              [0, 0]
Male    1              [0, 0]
        2              [0, 0]
        3              [0, 0]
dtype: object

In [12]:
gb1.apply(lambda x: pd.Series([0,0], index=["a","b"]))

Gender  Test_Number
Female  1            a    0
                     b    0
        2            a    0
                     b    0
        3            a    0
                     b    0
Male    1            a    0
                     b    0
        2            a    0
                     b    0
        3            a    0
                     b    0
Name: Height, dtype: int64

In [13]:
gb2.apply(lambda x: pd.Series([0,0], index=["a","b"]))

                    a  b
Gender Test_Number
Female 1            0  0
       2            0  0
       3            0  0
Male   1            0  0
       2            0  0
       3            0  0

In [15]:
temp_df = pd.DataFrame(np.ones((2,2)), index=["a","b"], columns=pd.Index([("w","x"),("y","z")]))
gb1.apply(lambda x: temp_df).head(10)

                        w    y
                        x    z
Gender Test_Number
Female 1           a  1.0  1.0
                   b  1.0  1.0
       2           a  1.0  1.0
                   b  1.0  1.0
       3           a  1.0  1.0
                   b  1.0  1.0
Male   1           a  1.0  1.0
                   b  1.0  1.0
       2           a  1.0  1.0
                   b  1.0  1.0

In [16]:
gb2.apply(lambda x: temp_df).head(10)

                        w    y
                        x    z
Gender Test_Number
Female 1           a  1.0  1.0
                   b  1.0  1.0
       2           a  1.0  1.0
                   b  1.0  1.0
       3           a  1.0  1.0
                   b  1.0  1.0
Male   1           a  1.0  1.0
                   b  1.0  1.0
       2           a  1.0  1.0
                   b  1.0  1.0

In [17]:
# Ex4-10

In [61]:
gb.cov()

                  Height     Weight
Gender
Female Height  25.542739  24.838146
       Weight  24.838146  29.224655
Male   Height  49.681137  47.803901
       Weight  47.803901  60.412648

In [63]:
def my_cov(x):
    cols = x.columns
    var0 = cols[0]
    var1 = cols[1]
    rowind = (~np.isnan(x[var0])) & (~np.isnan(x[var1]))
    
    return pd.DataFrame(np.cov(x.loc[rowind, var0], x.loc[rowind, var1]), index=x.columns, columns=x.columns)
    
gb.apply(lambda x: my_cov(x))

                  Height     Weight
Gender
Female Height  26.057864  24.838146
       Weight  24.838146  29.947937
Male   Height  52.523812  47.803901
       Weight  47.803901  55.695035