In [ ]:
# examples and exercises in chapter 2.1 of the Chinese version of book "Joyful Pandas" (pandas数据处理与分析)

In [45]:
import numpy as np
import pandas as pd

In [46]:
import os
os.chdir("../../")

In [47]:
# 3.1.1

In [48]:
df = pd.read_csv("data/learn_pandas.csv", usecols=["School", "Grade", "Name", "Gender", "Weight", "Transfer"])
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'data/learn_pandas.csv'

In [ ]:
df["Name"].head()

In [49]:
df[["Gender", "Name"]].head()

   Gender            Name
0  Female    Gaopeng Yang
1    Male  Changqiang You
2    Male         Mei Sun
3  Female    Xiaojuan Sun
4    Male     Gaojuan You

In [50]:
df.Name.head()

0      Gaopeng Yang
1    Changqiang You
2           Mei Sun
3      Xiaojuan Sun
4       Gaojuan You
Name: Name, dtype: object

In [51]:
# 3.1.2

In [52]:
s = pd.Series([1,2,3,4,5,6], index=["a", "b", "a", "a", "a", "c"])
s["a"]

a    1
a    3
a    4
a    5
dtype: int64

In [53]:
s["b"]

2

In [54]:
s[["c", "b"]]

c    6
b    2
dtype: int64

In [55]:
s["c": "b": -2]

c    6
a    4
b    2
dtype: int64

In [56]:
s["a":"b"]

KeyError: "Cannot get left slice bound for non-unique label: 'a'"

In [57]:
s.sort_index()["a":"b"]

a    1
a    3
a    4
a    5
b    2
dtype: int64

In [58]:
s[1:-1:2]

b    2
a    4
dtype: int64

In [59]:
# 3.1.3

In [60]:
df_demo = df.set_index("Name")
df_demo.head()

               School      Grade  Gender  Weight Transfer
Name
Gaopeng Yang        A   Freshman  Female    46.0        N
Changqiang You      B   Freshman    Male    70.0        N
Mei Sun             A     Senior    Male    89.0        N
Xiaojuan Sun        C  Sophomore  Female    41.0        N
Gaojuan You         C  Sophomore    Male    74.0        N

In [61]:
df_demo.loc["Qiang Sun"]

          School      Grade  Gender  Weight Transfer
Name
Qiang Sun      D     Junior  Female    53.0        N
Qiang Sun      D  Sophomore  Female    40.0        N
Qiang Sun      A     Junior  Female     NaN        N

In [62]:
df_demo.loc["Quan Zhao"]

School           A
Grade       Junior
Gender      Female
Weight        53.0
Transfer         N
Name: Quan Zhao, dtype: object

In [63]:
df_demo.loc["Qiang Sun", "School"]

Name
Qiang Sun    D
Qiang Sun    D
Qiang Sun    A
Name: School, dtype: object

In [64]:
# Ex3-1

In [65]:
df_demo = df.set_index("Name")
df_demo["School2"] = df_demo["School"]
df_demo = df_demo.rename(columns={"School2": "School"})
df_demo.loc["Qiang Sun", "School"]

          School School
Name
Qiang Sun      D      D
Qiang Sun      D      D
Qiang Sun      A      A

In [91]:
df_demo = df.set_index("Name")
df_demo.loc[["Qiang Sun", "Quan Zhao"], ["School", "Gender"]]

          School  Gender
Name
Qiang Sun      D  Female
Qiang Sun      D  Female
Qiang Sun      A  Female
Quan Zhao      A  Female

In [92]:
df_demo.loc["Gaojuan You":"Gaoqiang Qian", "School":"Gender"]

              School      Grade  Gender
Name
Gaojuan You        C  Sophomore    Male
Xiaoli Qian        D   Freshman  Female
Qiang Chu          A   Freshman  Female
Gaoqiang Qian      D     Junior  Female

In [93]:
df_loc_slice_demo = df_demo.copy()
df_loc_slice_demo.index = range(df_demo.shape[0], 0, -1)
df_loc_slice_demo.index = range(df_demo.shape[0])
df_loc_slice_demo.head()

  School      Grade  Gender  Weight Transfer
0      A   Freshman  Female    46.0        N
1      B   Freshman    Male    70.0        N
2      A     Senior    Male    89.0        N
3      C  Sophomore  Female    41.0        N
4      C  Sophomore    Male    74.0        N

In [94]:
df_loc_slice_demo.loc[0:3]

  School      Grade  Gender  Weight Transfer
0      A   Freshman  Female    46.0        N
1      B   Freshman    Male    70.0        N
2      A     Senior    Male    89.0        N
3      C  Sophomore  Female    41.0        N

In [95]:
df_loc_slice_demo[0:3]

  School     Grade  Gender  Weight Transfer
0      A  Freshman  Female    46.0        N
1      B  Freshman    Male    70.0        N
2      A    Senior    Male    89.0        N

In [96]:
df_loc_slice_demo.loc[3:5]

  School      Grade  Gender  Weight Transfer
3      C  Sophomore  Female    41.0        N
4      C  Sophomore    Male    74.0        N
5      D   Freshman  Female    51.0        N

In [97]:
df_demo.loc[df_demo.Weight>70].head()

              School      Grade Gender  Weight Transfer
Name
Mei Sun            A     Senior   Male    89.0        N
Gaojuan You        C  Sophomore   Male    74.0        N
Xiaopeng Zhou      A   Freshman   Male    74.0        N
Xiaofeng Sun       D     Senior   Male    71.0        N
Qiang Zheng        A     Senior   Male    87.0        N

In [98]:
df_demo.loc[df_demo.Grade.isin(["Freshman", "Senior"])].head()

               School     Grade  Gender  Weight Transfer
Name
Gaopeng Yang        A  Freshman  Female    46.0        N
Changqiang You      B  Freshman    Male    70.0        N
Mei Sun             A    Senior    Male    89.0        N
Xiaoli Qian         D  Freshman  Female    51.0        N
Qiang Chu           A  Freshman  Female    52.0        N

In [112]:
condition_1_1 = (df_demo.School == 'A')
condition_1_2 = df_demo.Grade == "Senior"
condition_1_3 = df_demo.Weight > 70
condition_1 = condition_1_1 & condition_1_2 & condition_1_3
condition_2_1 = df_demo.School == "B"
condition_2_2 = df_demo.Grade == "Senior"
condition_2_3 = df_demo.Weight > 80
condition_2 = condition_2_1 & (~condition_2_2) & condition_2_3
df_demo.loc[condition_1 | condition_2]

               School     Grade Gender  Weight Transfer
Name
Mei Sun             A    Senior   Male    89.0        N
Qiang Zheng         A    Senior   Male    87.0        N
Qiang Han           B  Freshman   Male    87.0        N
Changpeng Zhao      B  Freshman   Male    83.0        N
Gaoli Zhao          A    Senior   Male    83.0        N
Xiaofeng Zhang      A    Senior   Male    80.0        N
Chengmei Shen       A    Senior   Male    71.0        N

In [113]:
# 3-2

In [114]:
# df_demo = df.set_index("Name")
condition_1 = df_demo.School == "A"
condition_2 = df_demo.School == "B"
condition_3 = df_demo.Gender == "Female"
df_demo.loc[(condition_1 | condition_2) & condition_3].head()

             School      Grade  Gender  Weight Transfer
Name
Gaopeng Yang      A   Freshman  Female    46.0        N
Qiang Chu         A   Freshman  Female    52.0        N
Juan Xu           B     Junior  Female     NaN        N
Peng You          A     Senior  Female    48.0      NaN
Yanfeng Qian      A  Sophomore  Female    48.0        N

In [116]:
df_chain = pd.DataFrame([[0,0], [1,0], [-1,0]], columns=list("AB"))
df_chain

   A  B
0  0  0
1  1  0
2 -1  0

In [117]:
df_chain[df_chain.A!=0].B=1

/var/folders/1b/xnyhhbh578x5vpfmbtn082pm0000gn/T/ipykernel_34608/1413293214.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_chain[df_chain.A!=0].B=1

In [118]:
df_chain

   A  B
0  0  0
1  1  0
2 -1  0

In [120]:
df_chain.loc[df_chain.A!=0, "B"]=1
df_chain

   A  B
0  0  0
1  1  1
2 -1  1

In [121]:
# 3.1.4

In [122]:
df_demo.iloc[1, 1]

'Freshman'

In [123]:
df_demo.iloc[[0,1], [0,1]]

               School     Grade
Name
Gaopeng Yang        A  Freshman
Changqiang You      B  Freshman

In [125]:
df_demo.iloc[1:4,2:4]

                Gender  Weight
Name
Changqiang You    Male    70.0
Mei Sun           Male    89.0
Xiaojuan Sun    Female    41.0

In [126]:
df_demo.iloc[np.isin(np.arange(df_demo.shape[0]), [1,2,3])]

               School      Grade  Gender  Weight Transfer
Name
Changqiang You      B   Freshman    Male    70.0        N
Mei Sun             A     Senior    Male    89.0        N
Xiaojuan Sun        C  Sophomore  Female    41.0        N

In [130]:
df_demo.iloc[(df_demo.Weight>80).values].head()

               School      Grade Gender  Weight Transfer
Name
Mei Sun             A     Senior   Male    89.0        N
Qiang Zheng         A     Senior   Male    87.0        N
Qiang Han           B   Freshman   Male    87.0        N
Chengpeng Zhou      C     Senior   Male    81.0        N
Feng Han            A  Sophomore   Male    82.0        N

In [132]:
df_demo.School.iloc[1]

'B'

In [133]:
df_demo.School.iloc[1:5:2]

Name
Changqiang You    B
Xiaojuan Sun      C
Name: School, dtype: object

In [134]:
# 3.1.5

In [136]:
df.query("((School == 'A') &"
         "(Grade == 'Senior') &"
         "(Weight > 70)) |"
         "((School == 'B') &"
         "(Grade != 'Senior') &"
         "(Weight > 80))")

    School     Grade            Name Gender  Weight Transfer
2        A    Senior         Mei Sun   Male    89.0        N
23       A    Senior     Qiang Zheng   Male    87.0        N
38       B  Freshman       Qiang Han   Male    87.0        N
99       B  Freshman  Changpeng Zhao   Male    83.0        N
134      A    Senior      Gaoli Zhao   Male    83.0        N
171      A    Senior  Xiaofeng Zhang   Male    80.0        N
198      A    Senior   Chengmei Shen   Male    71.0        N

In [139]:
df.query("Grade not in ['Freshman', 'Sophomore'] and Gender == 'Male'").head()

   School   Grade           Name Gender  Weight Transfer
2       A  Senior        Mei Sun   Male    89.0        N
16      D  Junior  Xiaoqiang Qin   Male    68.0        N
17      D  Junior      Peng Wang   Male    65.0        N
18      D  Senior   Xiaofeng Sun   Male    71.0        N
21      A  Senior  Xiaopeng Shen   Male    62.0      NaN

In [140]:
# 3-3

In [141]:
df.query("School in ['A', 'B'] and Gender == 'Female'").head()

   School      Grade          Name  Gender  Weight Transfer
0       A   Freshman  Gaopeng Yang  Female    46.0        N
6       A   Freshman     Qiang Chu  Female    52.0        N
9       B     Junior       Juan Xu  Female     NaN        N
12      A     Senior      Peng You  Female    48.0      NaN
13      A  Sophomore  Yanfeng Qian  Female    48.0        N

In [142]:
df.query("Grade == ['Junior', 'Senior']").head()

   School   Grade           Name  Gender  Weight Transfer
2       A  Senior        Mei Sun    Male    89.0        N
7       D  Junior  Gaoqiang Qian  Female    50.0        N
9       B  Junior        Juan Xu  Female     NaN        N
11      D  Junior    Xiaoquan Lv  Female    43.0        N
12      A  Senior       Peng You  Female    48.0      NaN

In [144]:
query_list = ["Junior", "Senior"]
df.query("Grade == @ query_list").head()

   School   Grade           Name  Gender  Weight Transfer
2       A  Senior        Mei Sun    Male    89.0        N
7       D  Junior  Gaoqiang Qian  Female    50.0        N
9       B  Junior        Juan Xu  Female     NaN        N
11      D  Junior    Xiaoquan Lv  Female    43.0        N
12      A  Senior       Peng You  Female    48.0      NaN

In [145]:
# 3.1.6

In [163]:
df_set_1 = pd.DataFrame([[0,1], [1,2], [3,4]],
                       index=pd.Index(["a", "b", "a"], name="id1"))
df_set_2 = pd.DataFrame([[4,5], [2,6], [7,1]],
                       index=pd.Index(["b", "b", "c"], name="id2"))
id1, id2 = df_set_1.index.unique(), df_set_2.index.unique()

In [164]:
id1.intersection(id2)

Index(['b'], dtype='object')

In [165]:
id1.union(id2)

Index(['a', 'b', 'c'], dtype='object')

In [166]:
id1.difference(id2)

Index(['a'], dtype='object')

In [167]:
id1.symmetric_difference(id2)

Index(['a', 'c'], dtype='object')

In [168]:
df_set_in_col_1 = df_set_1.reset_index()
df_set_in_col_1

  id1  0  1
0   a  0  1
1   b  1  2
2   a  3  4

In [170]:
df_set_in_col_2 = df_set_2.reset_index()
df_set_in_col_2

  id2  0  1
0   b  4  5
1   b  2  6
2   c  7  1

In [171]:
df_set_in_col_1[df_set_in_col_1.id1.isin(df_set_in_col_2.id2)]

  id1  0  1
1   b  1  2